/* All the CSS related to answers Page*/

.answer_author {
  color: green;
  display: inline-block;
}

.answer_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.answer_text {
  flex: 1;
}

.answerAuthor {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* text aligns left */
  width: 250px;
  padding-right: 16px;     /* space from the right edge */
  margin-left: auto;       /* pushes the group to the right */
}

.answer_image {
  margin-top: 10px;
  border-radius: 8px;
}