.btn {
  padding: 5px 10px;
  background: #dddddd;
  border: #aaaaaa 1px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background: #cccccc;
}

.btn:active {
  background-color: #bbbbbb;
}